{% extends "layout.njk" %}
{% block content %}
        <div class="upper">  
            <div class="text">
                <p>
                    I got the eye of the tiger, a fighter
                    Dancing through the fire
                    'Cause I am a champion, and you're gonna hear me roar
                    Louder, louder than a lion
                    'Cause I am a champion, and you're gonna hear me roar!
                </p>
                <p>
                    Oh oh oh oh oh oh oh oh
                    Oh oh oh oh oh oh oh oh
                    Oh oh oh oh oh oh oh oh
                    You're gonna hear me…
                </p>
            </div>
            <div>
                <img src="./assets/placeholder.png">
            </div>
        </div>
        {%if submittedComment %}
            <p class="success-message"> Successful comment submission </p>
        {% endif %}
        <div class="lower">   
            <form action="/" class="comment-form" method="post">
                <p>Add a comment:</p>
                <input class="user-name" type="text" name="username" placeholder="Username" />    
                <textarea class="comment-area" type="text" name="comment" placeholder="Type comments"></textarea
                <label> 
                     <input class="submit" type="submit" value="Submit" />
                </label>              
            </form>
            <ul class="comment-list">
                {% for comment in comments %}
                    <li> {{ comment }} </li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}
